<%- include('parts/html_head') %>
<%- include('parts/navbar') %>
<div>
    <h1>
        <!-- <% if (locals.loginUser) { %>
            <%= loginUser %>
            <% } else { %>
          Visitor
          <% } %> -->
    </h1>

    
  
</div>
<%- include('parts/html_script') %>
<script>
 
</script>
<%- include('parts/html_foot') %>