<%- include('parts/html_head') %>
<%- include('parts/navbar') %>
<div class="aliList">
    <!-- <div class="consumablesIcon"> -->
    <a href="/sighting"><img src="../lib/pic/reload.png" style="width:30px"></a>
    <!-- </div> -->

</div>
<div class="aliList">

    <table class="aliDetailTable" cellpadding="3">
        <thead>
            <tr>
                <th style="width: 150px"></th>
                <th class="col2" style="width: 500px;"></th>

            </tr>
        </thead>
        <tbody>
            <tr style="padding-bottom: 500px;">
                <td style="width: 113px;">Title</td>
                <td class="col2 tdTitle" style="width: 500px; text-align: justify;"><%= locals.data.title %></td>
            </tr>

            <tr>
                <td style="width: 113px;">ALI No.</td>
                <td class="col2" style="width: 500px;"><%= locals.data.ALINo %></td>
            </tr>

            <tr>
                <td style="width: 113px;">Status</td>
                <td class="col2" style="width: 500px;" id="statusVal" val="<%= locals.data.status %>">
                    <span><%= locals.data.status %></span>
                    <% if (locals.role != 'admin') { %>
                    <input type="button" class="btn btn-outline-danger btn-sm" style="margin-left: 10px;"
                        data-toggle="modal" data-target="#changeStatus" value='Change'>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td style="width: 113px;">Priority</td>
                <td class="col2" style="width: 500px;" id="priorityVal" val="<%= locals.data.priority %>">
                    <span><%= locals.data.priority %></span>
                    <% if (locals.role != 'admin') { %>
                    <input type="button" class="btn btn-outline-danger btn-sm" style="margin-left: 10px;"
                        data-toggle="modal" data-target="#changePriority" value='Change'>
                    <% } %>
                </td>
            </tr>

            <tr>
                <td style="width: 113px;">Project</td>
                <td class="col2" style="width: 500px;"><%= locals.data.project %></td>
            </tr>
            <tr>
                <td style="width: 113px;">Open Date</td>
                <td class="col2" style="width: 500px;"><%= locals.data.createDate %></td>
            </tr>
            <tr>
                <td style="width: 113px;">Category</td>
                <td class="col2" style="width: 500px;"><%= locals.data.category %></td>
            </tr>
            <tr>
                <td style="width: 113px;">Engineer Owner</td>
                <td class="col2" style="width: 500px;"><%= locals.data.owner %></td>
            </tr>
            <tr>
                <td style="width: 113px;">BOX SKU</td>
                <td class="col2" style="width: 500px;"><%= locals.data.BOXSKU %></td>
            </tr>
            <tr>
                <td style="width: 113px;">BIOS Version</td>
                <td class="col2" style="width: 500px;"><%= locals.data.BIOSV %></td>
            </tr>
            <tr>
                <td style="width: 113px;">EC Version</td>
                <td class="col2" style="width: 500px;"><%= locals.data.ECV %></td>
            </tr>
            <tr>
                <td style="width: 113px;">Preload Version</td>
                <td class="col2" style="width: 500px;"><%= locals.data.preloadV %></td>
            </tr>
            <tr>
                <td style="width: 113px;">TIPV</td>
                <td class="col2" style="width: 500px;"><%= locals.data.TIPV %></td>
            </tr>
            <tr>
                <td style="width: 113px;">TIGUIV</td>
                <td class="col2" style="width: 500px;"><%= locals.data.TIGUIV %></td>
            </tr>
            <tr>
                <td style="width: 113px;">BBFWV</td>
                <td class="col2" style="width: 500px;"><%= locals.data.BBFWV %></td>
            </tr>
            <tr>
                <td style="width: 113px;">iTBTV</td>
                <td class="col2" style="width: 500px;"><%= locals.data.iTBTV %></td>
            </tr>
            <tr>
                <td style="width: 113px;">Description</td>
                <td class="col2" style="width: 500px;"><%= locals.data.description %></td>
            </tr>
            <tr>
                <td style="width: 113px;">To Reproduce</td>
                <td class="col2" style="width: 500px;"><%= locals.data.reproduce %></td>
            </tr>


        </tbody>
    </table>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="AR-tab" data-toggle="tab" href="#AR" role="tab" aria-controls="home"
                aria-selected="true" style="color: #dc3545;">AR</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="remark-tab" data-toggle="tab" href="#remark" role="tab" aria-controls="remark"
                aria-selected="false" style="color: #dc3545;">Remark</a>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent" style="height:1000px;">

        <div class="tab-pane fade show active" id="AR" role="tabpanel" aria-labelledby="remark-tab">
            <form method="POST" id="addARForm">
                <div>
                    <div style='margin-bottom: 10px;'>
                        <% if (locals.role != 'admin') { %>
                        <input type="button" style="border-color:#D3D3D3;" id="showARForm"
                            class="btn btn-outline-secondary btn-sm" value='Add'>
                        <input type="button" style="border-color:#D3D3D3;" id="hideARForm"
                            class="btn btn-outline-secondary btn-sm" value='Cancel'>
                        <input type="submit" style="border-color:#D3D3D3;" id="addAR"
                            class="btn btn-outline-danger btn-sm" value='Submit AR'>

                        <% } %>

                    </div>
                </div>

                <div class="card border-secondary  mb-3 " id="addARCard">
                    <div class="row no-gutters" style="width: 100%;">

                        <div class="card-header" style=" text-align: center;"></div>

                        <div class="card-body text-secondary " style="padding: 8px 0px;">


                            <div class="card-body-content">
                                <input id="ARDateinForm" name="ARDate">
                                <div class='row iconSet'>
                                    <div class="ARIcon" id="AddARStep">
                                        <img src="../../lib/pic/plus.png" style="width: 20px">
                                    </div>
                                    <div class="ARIcon" id="deleteARStep">
                                        <img src="../../lib/pic/minus.png" style="width: 20px">
                                    </div>
                                </div>

                                <div id="ARSteps">
                                    <div class="input-group input-group-sm mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">AR #1</span>
                                        </div>
                                        <textarea class="form-control ARTextarea" name="ar" rows="2"
                                            aria-label="With textarea"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- database 的 AR  -->
            <% for( let i = 0; i < locals.data.ARList.length; i++){  
                let AR = data.ARList[i] %>
            <div class="card border-secondary mb-3 ">
                <div class="row no-gutters" style="width: 100%;">

                    <div class="card-header" style=" text-align: center;"><%= AR.date %> </div>

                    <div class="card-body text-secondary" style="padding: 8px 0px;">


                        <div class="card-body-content">

                            <% for( let j = 0; j < AR.AR.length; j++){  
                                let ARItem = AR.AR[j] %>
                            <P class="card-text">
                                <span class="badge badge-secondary">AR #<%= j+1 %></span>
                                <span><%= ARItem %></span>
                            </P>

                            <div id="ARSteps" class='row'>
                                <div class="input-group input-group-sm mb-2" style="width:85%; margin-left: 15px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><%= locals.data.creator %></span>
                                    </div>
                                    <textarea class="form-control ARTextarea" name="ar" rows="1"
                                        aria-label="With textarea"></textarea>
                                </div>
                                <div style="margin-left: 15px;width:10%;">
                                    <input type="button" style="border-color:#D3D3D3;"
                                        class="btn btn-outline-secondary btn-sm" value='submit'>
                                </div>
                            </div>
                            <% } %>

                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

        <div class="tab-pane fade " id="remark" role="tabpanel" aria-labelledby="AR-tab">
            <% if (loginUser) { %>
            <div style="margin-top: 10px;">
                <form class="form-inline" type="POST" id="addRemark">

                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref" style="text-align: top;">From
                        <%= loginUser %></label>

                    <!-- <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea> -->
                    <textarea maxlength="80%" class="form-control" rows="3" name='remark'
                        style="width:80%; text-align: justfy" value=''></textarea>
                    <button type="submit" class="btn btn-outline-secondary btn-sm"
                        style="margin-left: 10px;margin-bottom: -50px;">Remark</button>
                </form>
            </div>
            <% } %>
            <table id="remarkTable" class="table-sm" style="width:100%; margin-top: 20px;">
                <thead>
                    <tr>
                        <th style="width:20%"></th>
                        <th style="width:20%"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="remarkList">
                    <% for( let i = 0; i < locals.data.remark.length; i++){  
                        let item = data.remark[i] %>
                    <tr>
                        <td><%= item.date%></th>
                        <td><%= item.remarker%></td>
                        <td id='remarkContent'><%= item.remark%></td>
                    </tr>
                    <% } %>
            </table>

        </div>
    </div>

</div>

<!-- change status Modal -->
<div class="modal" tabindex="-1" id="changeStatus">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Change Status</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">Status</div>
                    <div class="col-sm-2">
                        <form method="post" class="changeStatusForm">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input form-control-sm" type="radio" id="working"
                                    value="Working" name="status">
                                <label class="form-check-label form-control-sm" for="working">Working</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input form-control-sm" type="radio" id="close" value="Close"
                                    name="status">
                                <label class="form-check-label form-control-sm" for="close">Close</label>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-danger btn-sm" value="Save changes">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- change Priority Modal -->
<div class="modal" tabindex="-1" id="changePriority">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Change Priority</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">Priority</div>
                    <div class="col-sm-2">
                        <form method="post" class="changePriorityForm">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input form-control-sm" type="radio" id="emergency"
                                    value="Emergency" name="priority">
                                <label class="form-check-label form-control-sm" for="emergency">Emergency</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input form-control-sm" type="radio" id="high" value="High"
                                    name="priority">
                                <label class="form-check-label form-control-sm" for="high">High</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input form-control-sm" type="radio" id="medium" value="Medium"
                                    name="priority">
                                <label class="form-check-label form-control-sm" for="medium">Medium</label>
                            </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-danger btn-sm" value="Save changes">
                </form>
            </div>
        </div>
    </div>
</div>


<%- include('parts/html_script') %>
<script>

    //check the original value
    const statusVal = $('#statusVal').attr('val');
    if ($('#statusVal').attr('val') == "Working") {
        $('#working').prop('checked', true);
    } else {
        $('#close').prop('checked', true);
    }

    //check the original priority 
    const priorityVal = $('#priorityVal').attr('val');
    if (priorityVal == "Emergency") {
        $('#emergency').prop('checked', true);
    } else if (priorityVal == "High") {
        $('#high').prop('checked', true);
    } else {
        $('#medium').prop('checked', true);
    }

    //更改issue狀態
    $('.changeStatusForm').on('submit', function (e) {
        e.preventDefault();
        let currentURL = location.pathname;
        $.ajax({
            url: `${currentURL}`,
            type: 'POST',
            data: new FormData(this),
            contentType: false,//一定要加
            cache: false,
            processData: false,//一定要加
            dataType: "json"
        }).done(function (data) {
            console.log(data);
            $('#changeStatus').modal('hide');
            $('#statusVal span').text(data.status);
            $('#statusVal').attr('val', data.status);

        })
    })
    $('.changePriorityForm').on('submit', function (e) {
        e.preventDefault();
        let currentURL = location.pathname;
        $.ajax({
            url: `${currentURL}`,
            type: 'POST',
            data: new FormData(this),
            contentType: false,//一定要加
            cache: false,
            processData: false,//一定要加
            dataType: "json"
        }).done(function (data) {
            console.log(data);
            $('#changePriority').modal('hide');
            $('#priorityVal span').text(data.priority);
            $('#priorityVal').attr('val', data.priority);

        })
    })
    $('#addRemark').on('submit', function (e) {
        e.preventDefault();
        let currentURL = location.pathname;
        $.ajax({
            url: `${currentURL}/addRemark`,
            type: 'POST',
            data: new FormData(this),
            contentType: false,//一定要加
            cache: false,
            processData: false,//一定要加
            dataType: "json"
        }).done(function (data) {
            console.log(data);
            $('#remarkList').append(`
            <tr>\
            <td>${data.date}</th>\
            <td>${data.remarker}</td>\
            <td id='remarkContent'>${data.remark}</td>\
            </tr>\
            `)
            // $('#changePriority').modal('hide');
            // $('#priorityVal span').text(data.priority);
            // $('#priorityVal').attr('val', data.priority);

        })
    })


    let assetQ = 0;
    $('#AddARStep').click(() => {
        // console.log(typeof assetQ)
        // assetQ = parseInt(assetQ)
        assetQ++;
        // console.log(assetQ);

        $('#ARSteps').append(`<div class="input-group input-group-sm mb-2 newARTextarea" id="col${assetQ}">\
                                <div class="input-group-prepend">\
                                <span class="input-group-text">AR #${assetQ + 1}</span>\
                                </div>\
                                <textarea class="form-control ARTextarea" name="ar" rows="2" aria-label="With textarea"></textarea>\
                                </div>`);

    });
    $('#deleteARStep').click(() => {
        if (assetQ > 0) {
            $(`#col${assetQ}`).remove();
            assetQ--;
        };
    })

    //幫AR把日期塞進去
    const currentDate = (new Date().format('m/d'));
    $('#addARCard .card-header').text(currentDate);
    $('#ARDateinForm').val(currentDate);


    //add AR
    $('#ARDateinForm').hide();
    $('#addARForm').on('submit', function (e) {
        e.preventDefault();
        let currentURL = location.pathname;
        $.ajax({
            url: `${currentURL}/addAR`,
            type: 'POST',
            data: new FormData(this),
            contentType: false,//一定要加
            cache: false,
            processData: false,//一定要加
            dataType: "json"
        }).done(function (data) {
            console.log(data);
            $('.ARTextarea').val('');
            $('.newARTextarea').hide();
            // $('#changePriority').modal('hide');
            // $('#priorityVal span').text(data.priority);
            // $('#priorityVal').attr('val', data.priority);

        })
    })

    //icon調整
    $('#addARCard').hide();
    $('#addAR').hide();
    $("#hideARForm").hide();
    $("#showARForm").click(() => {
        $('#addARCard').show();
        $("#hideARForm").show();
        $("#showARForm").hide();
        $('#addAR').show();
    })
    $("#hideARForm").click(() => {
        $('#addARCard').hide();
        $('#addAR').hide();
        $("#showARForm").show();
        $("#hideARForm").hide();
    })
</script>
<%- include('parts/html_foot') %>