<%- include('parts/html_head') %>
<%- include('parts/navbar') %>

<div class="consumables">
    <div class="consumablesIcon">
        <a href="/tool"><img src="../lib/pic/back.png" style="width:30px"></a>
    </div>
    <form id="reviseToolForm" method="POST" onsubmit="return checkAssetNum(this)">

        <div class="consumablesTable">


            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="item">項目</label>
                    <input type="text" class="form-control" id="item" name="item" required value='<%= item %>'>
                </div>
                <div class="form-group col-md-1">
                    <label for="brand">廠牌</label>
                    <input type="text" class="form-control" id="brand" name="brand" value='<%= brand %>'>
                </div>
                <div class="form-group col-md-1">
                    <label for="model">型號</label>
                    <input type="text" class="form-control" id="model" name="model" value='<%= model %>'>
                </div>
                <div class="form-group col-md-5">
                    <label for="description">描述</label>
                    <input type="text" class="form-control" id="description" name="description"
                        value='<%= description %>'>
                </div>
            </div>

            <div id="addToolAssetList">
                <div class="form-group">
                    <label for="item">資產編號</label>
                    <button id="addToolAssetNum" type="button" class="btn btn-outline-secondary btn-sm">新增資產編號</button>
                </div>
                <% for( let i = 0; i < locals.assetList.length; i++){  
                let asset = assetList[i] %>
                <div class="form-row">
                    <div class="form-group col-md-2">

                        <input type="text" class="form-control oldAssetNum" name="oldAssetNum" required
                            value='<%= asset.assetnumber %>'>
                        <input type="text" class="form-control oldAssetNum" name="assetID" required
                            value='<%= asset.id %>'>
                        <input type="text" class="form-control" name="newAssetNum" required
                            value='<%= asset.assetnumber %>'>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <div class="consumablesIcon">
            <button id="addtoolbtn" type="submit" class="toolbtn btn btn-secondary">修改</button>
            <button id="deletetoolbtn" type="button" class="toolbtn btn btn-secondary" data-toggle="modal"
                data-target="#deleteAlert">刪除</button>
        </div>
    </form>
</div>

<div id="deleteAlert" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= item %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>確認刪除?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <form method="post" id="deleteToolForm">
                    <button type="submit" class="btn btn-danger">刪除</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('parts/html_script') %>

<script>
    $('.oldAssetNum').hide()
    $('#addToolAssetNum').click(() => {
        let addAssetCol = '<div class="form-row">\
                           <div class="form-group col-md-2">\
                           <input type="text" class="form-control oldAssetNum" name="oldAssetNum" value="">\
                           <input type="text" class="form-control oldAssetNum" name="assetID" value="">\
                           <input type="text" class="form-control" name="newAssetNum" required value="">\
                           </div>\
                           </div>';

        $('#addToolAssetList').append(addAssetCol);
        $('.oldAssetNum').hide();
    })



    function checkAssetNum() {
        let newAssetNumList = $('#reviseToolForm input[name=newAssetNum]').serializeArray();
        let list1 = []
        for (let i in newAssetNumList) {
            if (list1.indexOf(newAssetNumList[i].value) == -1) {
                list1.push(newAssetNumList[i].value);
            } else {
                alert(`資產編號重複  ${newAssetNumList[i].value}`);
                return false;
                break;
            };
        };
    }
    function alertdeletion(msg) {
        $('#deleteAlert').modal('hide');
        alert(msg);
    };
$('#deleteID').hide();
    $('#deleteToolForm').on('submit', function (e) {
        e.preventDefault();
        let currentURL = location.pathname;
        $.ajax({
            url: `${currentURL}/delete`,
            type: 'POST',
            data: new FormData(this),
            contentType: false,//一定要加
            cache: false,
            processData: false,//一定要加
            dataType: "json"
        }).done(function (data) {
            
            window.location = 'http://localhost:3000/tool';
        })
    })

</script>
<%- include('parts/html_foot') %>